table{
    width: 100%;
}

td{
    overflow: hidden;
}

th{
    background-color: #0C6395;
    color: #fff;
}

tr:nth-child(even){
    background-color: rgba(11, 99, 149, 0.4);
    ;
}

tr:nth-child(odd){
    background-color: rgba(190, 190, 190, 0.4);
}

.pagingNavigator{
    padding-left: 800px;
}