/* CSS file die het beheerscherm van opmaak voorziet */

table{
    width: 100%;
}

.messages{
    overflow: hidden;
    text-align: center;
    padding: 13px !important; /* overschrijven van de algemene wicket/bootstrap css**/
}

th{
    background-color: #0C6395;
    color: #fff;
    text-align: center !important; /* overschrijven van de algemene wicket/bootstrap css**/
    font-size: 20px;
    padding: 17px !important; /* overschrijven van de algemene wicket/bootstrap css**/
}

tr:nth-child(4n), tr:nth-child(4n-1){
    background-color: rgba(11, 99, 149, 0.4);
}

tr:nth-child(4n-2), tr:nth-child(4n-3){
    background-color: rgba(190, 190, 190, 0.4);
}

.subRow{
    background-color: #feffa2 !important;
    text-align: center;
}

.pagingNavigator{
    padding-left: 800px;
}


.messageTable{
	padding-top: 50px;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

.container.menu{
	float:left;
}

.navbar-nav li{
	padding-left: 5px;
}

